Repository mayadata-io/cstorpoolauto, pull requests merged in 2020-02, with the labels that each got.

#74 fix(raidgroups): fix placement of raid group in CStorPoolCluster
  controller/blockdevice/reconciler.go
  controller/cstorclusterconfig/reconciler.go
  controller/cstorclusterplan/reconciler.go
  controller/cstorclusterstorageset/reconciler.go
  controller/cstorpoolcluster/reconciler.go
  controller/cstorpoolcluster/reconciler_test.go
  k8s/condition.go
  k8s/iterator.go
  k8s/iterator_test.go
  k8s/util.go
  types/cstorclusterconfig.go
  util/string/string.go
  util/string/string_test.go
Labels: bug, cspc controller

#77 chore(rename): rename k8s to unstruct package
  Dockerfile
  controller/blockdevice/reconciler.go
  controller/cstorclusterconfig/reconciler.go
  controller/cstorclusterplan/reconciler.go
  controller/cstorclusterstorageset/reconciler.go
  controller/cstorpoolcluster/reconciler.go
  controller/cstorpoolcluster/reconciler_test.go
  unstruct/condition.go
  unstruct/condition_test.go
  unstruct/iterator.go
  unstruct/iterator_test.go
  unstruct/unstruct.go
  unstruct/unstruct_test.go
  unstruct/util.go
  unstruct/util_test.go
Labels: chore

#78 fix(cspc): fix nil pointer during cspc node to blockdevice mapping
  controller/cstorpoolcluster/reconciler.go
  controller/cstorpoolcluster/reconciler_test.go
Labels: bug, cspc controller

#79 fix(nil map): fix nil map assignment in cspc controller
  controller/cstorpoolcluster/reconciler.go
  controller/cstorpoolcluster/reconciler_test.go
Labels: bug, cspc controller

#81 fix(maxpoolcount): fix updating max pool count
  controller/cstorclusterconfig/reconciler.go
  controller/cstorclusterconfig/reconciler_test.go
  controller/cstorclusterplan/reconciler.go
  controller/cstorclusterstorageset/reconciler.go
  controller/cstorpoolcluster/reconciler.go
  demo/basic/basic.yaml
  types/cstorclusterconfig.go
  types/cstorclusterstorageset.go
  util/string/string.go
Labels: bug, config controller

#76 feat(recommendation): add schema for CStorPoolcluster recommendation
  types/recommendation.go
  types/recommendationrequest.go
  types/reference.go
Labels: api, recommendations

#82 chore(readme): update readme with latest specs
  README.md
Labels: chore, readme

#83 chore(metac): update to latest metac version
  go.mod
  go.sum
Labels: chore, metac

#84 fix(node plan): fix node selection logic
  controller/cstorclusterconfig/node.go
  controller/cstorclusterconfig/node_test.go
  controller/cstorclusterconfig/reconciler.go
  types/cstorclusterplan.go
  types/cstorclusterplan_test.go
  unstruct/unstruct.go
  unstruct/unstruct_test.go
Labels: bug, config controller

#85 fix(merge): fix diff between observed and desired nodes
  controller/cstorclusterconfig/reconciler.go
  controller/cstorclusterconfig/reconciler_test.go
  demo/basic/cstor-operator.yaml
  demo/basic/test.sh
  deploy/config.yaml
  deploy/operator.yaml
  types/cstorclusterplan.go
Labels: bug, config controller

#86 chore(rename): update names of various metacontrollers
  config/metac.yaml
  demo/basic/test.sh
  deploy/config.yaml
Labels: chore, config, metac

#87 feat(selector): introduce selector for unstruct instances
  controller/cstorclusterconfig/node_test.go
  unstruct/list.go
  unstruct/selector.go
  unstruct/selector_test.go
  unstruct/unstruct.go
  unstruct/unstruct_test.go
Labels: selector, util

#91 refactor(recommendation): Refactor, address previous review comments and add more UT.
  .github/workflows/build-image.yml
  types/raidgroupconfig.go
  types/raidgroupconfig_test.go
  util/blockdevice/util.go
Labels: chore

#94 fix(capacity): fix capacity bug due to invalid datatype parsing
  types/raidgroupconfig.go
  types/raidgroupconfig_test.go
  unstruct/util.go
  util/blockdevice/util.go
  util/blockdevice/util_test.go
Labels: bug, chore, util
