Repository mayadata-io/cstorpoolauto, pull requests merged in 2020-03, with the labels that each got.

#98 fix(raidgroupconfig): fix raidgroupconfig validation
  types/raidgroupconfig.go
  types/raidgroupconfig_test.go
  util/blockdevice/topology.go
Labels: bug

#99 feat(local): add local disk based cstor pool auto provisioning
  cmd/main.go
  controller/cstorpoolcluster/reconciler.go
  controller/localdevice/reconciler.go
  controller/localdevice/reconciler_test.go
  types/cstorclusterconfig.go
  unstruct/iterator.go
  unstruct/iterator_test.go
  unstruct/list.go
  unstruct/list_test.go
  unstruct/selector_test.go
  util/blockdevice/helper.go
  util/blockdevice/helper_test.go
  util/blockdevice/list_helper.go
  util/blockdevice/list_helper_test.go
  util/cstorclusterconfig/helper.go
  util/cstorclusterconfig/helper_test.go
  util/cstorpoolcluster/builder.go
  util/cstorpoolcluster/builder_test.go
  util/cstorpoolcluster/helper.go
  util/cstorpoolcluster/helper_test.go
  util/metac/validation.go
  util/metac/validation_test.go
  util/string/string.go
  util/string/string_test.go
Labels: api, bug, localdevice controller, recommendations

#101 fix(recommendation): update metadata in device recommendation
  pkg/recommendation/device.go
Labels: bug, recommendations

#107 fix(localdevice): fix various bugs related to localdevice
  config/metac.yaml
  controller/localdevice/reconciler.go
  controller/localdevice/reconciler_test.go
  go.mod
  go.sum
  types/annotations.go
  types/cstorclusterconfig.go
  unstruct/selector_test.go
  util/cstorclusterconfig/helper.go
  util/cstorclusterconfig/helper_test.go
Labels: bug, localdevice controller

#110 feat(localdevice): delete CStorPoolCluster when CStorClusterConfig is deleted
  cmd/main.go
  config/metac.yaml
  controller/localdevice/finalizer.go
  controller/localdevice/finalizer_test.go
  controller/localdevice/reconciler.go
  go.mod
Labels: config, finalize, localdevice controller

#111 chore(build): add metac config for localdevice based cstorpoolauto
  Dockerfile
  Jenkinsfile
  config/localdevice/metac.yaml
  go.mod
  go.sum
Labels: build, config, dockerfile, jenkins, localdevice controller
